"""
# -- --------------------------------------------------------------------------------------------------- -- #
# -- project: Python implementation of cross exchange market-making (XEMM)                               -- #
# -- script: functions.py: python script with general functions                                          -- #
# -- author: MoyMFO, AndresLaresBarragan, Miriam1999                                                     -- #
# -- license: GPL-3.0 license                                                                            -- #
# -- repository: https://github.com/AndresLaresBarragan/MyST_XEMM                                        -- #                                                                     -- #
# -- --------------------------------------------------------------------------------------------------- -- #
"""

pandas>=1.1.0
numpy>=1.19.1
jupyter>=1.0.0
plotly>=4.14
scipy